*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 1140px;
    margin: 0 auto;
    
    
}

.promo{
    
    height: 800px;
    background: url("../img/bg/main_bg.jpg") center center / cover no-repeat;
    padding: 38px 0px 59px 0px;
}

.logo .logo_img{
    display: block;
    margin: 0 auto;
}

.logo .logo_text{
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    margin-top: 14px;

    font-family: 'Roboto';
    
    font-weight: 500;
    
    
    
    
}

.title{
    color: #F9BF3B;
    font-family: Roboto-Black;
    font-size: 41px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.simple .title_big{
    color: #FFFFFF;
    font-family: Roboto-Black;
    font-size: 80px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin-top: 21px;
}

h1{
    margin-top: 53px;
}
h2.title{
    margin-top: 30px;
}

.promo .promo_text{
    margin-top: 23px;
    padding: 0 13px ;
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    font-family: Roboto-Light;
    text-align: center;
}

.promo .promo_text span{
    color: #F9BF3B;
    font-family: Roboto-Bold;
    font-weight: 700;

}

.promo .promo_btn{
    display: block;
    margin: 0 auto;
    margin-top: 73px;
    width: 313px;
    height: 72px;
    box-shadow: inset 0px 0 0 rgba(0, 0, 0, 0.18);
    border: 4px solid  rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top,#2798B9 0%, #3AB6DA 100%);

    color: #FFFFFF;
    font-family: Roboto Condensed;
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    
    
}

.more{
    margin: 43px;
}

.more .more_text{
    color:#FFFFFF;
    font-family: "Roboto - Thin";
    font-style: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.more .more_img{
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting{
    min-height: 604px;
    background-color: #efefef;
    padding: 85px 0 75px 0;
}

.waiting .waiting_header{
    color:#252525;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.waiting .waiting_divider{
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting_subheader{
    margin-top: 17px;
    color:#4a4a4a;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
}

.waiting .waiting_wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item{
    

    width: 339px;
    text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img{
    width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr{
    margin-top: 33px;
    color:#4a4a4a;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}























